.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-evenly;
    background-color: rgb(233, 242, 247);
}

.home-title {
    margin-top: 20px;
  }
  
  .home-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
    width: 100%;
  }
  
  .home-button {
    padding: 10vh 20vh;
    background-color: #73c2fa;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
    margin: 5%;
    flex-basis: 200px;
    color: black;
    
  }
  
  .home-button:hover {
    transition: 0.7s;
    background-color:#5790b9 ;
    transform: scale(1.1);
    border-radius: 50%;
    box-shadow: #1a1e21;
  }
  
  @media screen and (max-width: 600px) {
    .home-container {
      padding: 10px;
    }
    
    .home-button {
      flex-basis: calc(50% - 20px);
    }
  }
  